header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 1.5em;
}

.articles{
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
}

.articles_main{
    width: 60%;
}

.articles_others{
    display: flex;
    flex-direction: column;
    width: 40%;
}

